<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>

<div class="tab-container">
  <div class="cat-title">
      <% @categories.each do |category|%>
          <button><%= category.title  %></button>
      <% end%>
  </div>

  <div class="cat-content">
      <% @categories.each do |category|%>
          <div class="tab">
          <% category.tasks.each do |task|  %>
              <li>
                <%= task.title  %>
                <% unless task.deadline.nil? %>
                  , to read: <%= task.deadline.strftime('%D')  %>
                <% end %>
              </li>
          <% end %>
          </div>
      <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="carrousel">
    <ul>
        <li><img src="http://image.noelshack.com/fichiers/2018/47/2/1542743468-robot3.png" /></li>
        <li><img src="http://image.noelshack.com/fichiers/2018/47/2/1542743468-robot2.png" /></li>
        <li><img src="http://image.noelshack.com/fichiers/2018/47/2/1542743468-robot1.png" /></li>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
